.btn {
	text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid $text;
    background: $secondary;
    color: $text;
    display: block;
    text-align: center;
    margin: 0 4px 8px 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
	.fa{
		margin: 2px 10px 2px 2px;
	}
	&:hover{
		border: 1px solid $secondary;
	    background: $text;
	    color: $secondary;
	}
	max-width: 300px;
}
