.navigation{
	img{
		margin-bottom: 25px;
	}
	@include bp(small) {
      display: none;
    }
	background: $red;
	color: white;
	ul{
		margin: 0;
		padding: 0;
		a{
			display: block;
			width: 100%;
			padding: 5px 10px;
			color: white;
			text-decoration: none;
			border: 1px solid white;
			margin: 0 0 5px 0;
			border-radius: 4px;
			&:hover{
				background: white;
				color: $red;
				border: 1px solid $red;
			}
			li{
				list-style-type: none;
			}
		}
	}
}
