@import"colors";
@import"breakpoints";
@import"structure";
@import"navigation";
@import"font-awesome";
@import"buttons";
@import"typography";

body {
	background: $secondary;
    color: $text;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-feature-settings: "kern", "liga", "pnum";
    font-size: 1em;
    line-height: 1.5;
}

.checkpoint{
	max-width: 750px;
	margin: 0;
	h3{
		font-size: 1.8rem;
		margin: 0;
		.fa{
			margin: 2px 10px 2px 2px;
		}
	}
	.sub{
		font-size: 1em;
		color: lighten($text, 25%);
		padding: 0;
		margin: 0 0 0 40px;
		border: 0;
	}
	margin-bottom: 100px;
}

.content{
	p, pre, li, img, .alert{
		max-width: 750px;
	}
}



.alert {
    padding: 28px 15px 0 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
	position: relative;
	strong{
		margin-left: 66px;
		font-size: 1.1em;
	}
	i{
		font-size: 3em;
		position: absolute;
		left: 18px;
		top:15px;
	}

}

.alert-info {
    color: #31708f;
	a{
		color: #31708f;
	}
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-success {
    color: #3c763d;
	a{
		color: #3c763d;
	}
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-warning {
    color: #8a6d3b;
	a{
		color: #8a6d3b;
	}
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
	a{
		color: #a94442;
	}
    background-color: #f2dede;
    border-color: #ebccd1;
}

code em{
	background: rgba(3, 168, 255, 0.31);
	display: block;
	&.remove{
		background: rgba(255, 0, 0, 0.46);
	}
}
